#{ define "auth" }#
#{ template "header" . }#
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0);" ng-click="OnAddNewAuth()" class="navitem-menu navitem-menu-solo navitem-menu-sub">add new</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--
     Submenu:
        add new

     Popup:
        Name: [string]
        Type: Radio
            - Preshared Key
            - Basic Auth
        Value:
            Key
            --
            Username, Password
-->
<h2 class="pagetitle">Authentication and Keys</h2>
<div class="container content-container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>name</th>
                <th>type</th>
                <th>added</th>
                <th>updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="auth in auths">
                <td><a href="javascript:void(0);" ng-click="OnViewEditAuth(auth.id)">{{auth.id}}</a></td>
                <td>preshared-key</td>
                <td>2017.01.01</td>
                <td>2017.01.07</td>
                <td><a href="javascript:void(0);" ng-click="OnDeleteAuth(auth.id)">[delete]</a></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal Dialog -->
    <div id="authModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ dialogTitle }}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Entry Name" ng-model="dialogAuthName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Type</label>
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optType" id="optTypePSK" value="psk" ng-model="dlgAuthType">
                                        Pre-shared Key
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optType" id="optTypeBasic" value="basic" ng-model="dlgAuthType">
                                        BASIC Authentication
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-show="dlgAuthType == 'psk'">
                            <label for="inputKey" class="col-lg-2 control-label">PSK</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputKey" placeholder="Key">
                            </div>
                        </div>

                        <div class="form-group" ng-show="dlgAuthType == 'basic'">
                            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                            </div>
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>


                    </form>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!--
    <form class="form-horizontal">
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Checkbox
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Radios</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            Option one is this
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Option two can be something else
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Selects</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <br>
                    <select multiple="" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
    -->
</div>

#{ template "footer" . }#
#{ end }#